{
  "virtual_machines": [
    {
      "name": "base-vm",
      "vcpu": 2,
      "memory_mb": 4096,
      "disk_size_gb": 30,
      "disk_path": "/var/lib/libvirt/images/base-vm.qcow2",
      "base_image_path": "/var/lib/libvirt/images/opensuse-leap.qcow2",
      "bridge_network_interface": "virbr0"
    }
  ]
}

